@import "./media.scss";

:root {
  --family: "Zilla Slab", serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.8;
  font-family: var(--family);

  @include tablet {
    font-size: 1.8rem;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
